div1 {

}

table {
    width: 40%;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 1%;
}

.label1 {
    
}

button:hover {
    background-color: #ff72d279;
    cursor: pointer;
}

.tr2 {

}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fecaf4d4;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}

input {
    width: auto;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 50px;
    width: 50px;
    margin-top: px;
}

.btn {
    background-color: #ff72d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}